[submodule "vendors/tezos"]
	path = vendors/tezos
	url = https://github.com/kxcteam/tsca-tezos.git
[submodule "vendors/kxclib"]
	path = vendors/kxclib
	url = https://github.com/kxcteam/kxclib-ocaml.git
